body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(13, 13, 13);
}

.slider-container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
h1{
    font-size: large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: black;
    color: white;
}
